<div class="left">
  <label class="labelcontent">
    {{localize "MIDGUARD.equipment"}}
  </label>
  {{editor
    content=data.data.equipment
    target="data.equipment"
    button=true
    owner=owner
    editable=editable
  }}
</div>
<div style="clear:both"></div>